head
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
	link(rel='apple-touch-icon', sizes='60x60', href='/apple-touch-icon-60x60.png')
	link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
	link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
	link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
	link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
	link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
	link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')
	link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
	link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
	link(rel='icon', type='image/png', href='/favicon-194x194.png', sizes='194x194')
	link(rel='icon', type='image/png', href='/favicon-96x96.png', sizes='96x96')
	link(rel='icon', type='image/png', href='/android-chrome-192x192.png', sizes='192x192')
	link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
	link(rel='manifest', href='/manifest.json')
	meta(name='msapplication-TileColor', content='#df6823')
	meta(name='msapplication-TileImage', content='/mstile-144x144.png')
	meta(name='theme-color', content='#f2d44d')
	meta(name='description', content='Fill me before going live!')
	meta(property='og:url', content='Fill me before going live!')
	meta(property='og:title', content='Fill me before going live!')
	meta(property='og:site_name', content='Fill me before going live!')
	meta(property='og:type', content='Fill me before going live!')
	meta(property='og:image', content='Fill me before going live!')
	meta(property='og:description', content='Fill me before going live!')
	meta(property='twitter:url', content='Fill me before going live!')
	meta(property='twitter:title', content='Fill me before going live!')
	meta(property='twitter:card', content='Fill me before going live!')
	meta(property='twitter:creator', content='Fill me before going live!')
	meta(property='twitter:image', content='Fill me before going live!')
body
	